**/bin
**/obj
**/node_modules
.git# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore# Elastic Beanstalk Files

.elasticbeanstalk/*

.git

.gitignore

client_secret_2_319728086235-ubuom2fs3laa07rgohgqr9m4mqe00sbc.apps.googleusercontent.com.json

future-producer-418904-ed3008c258c5.json

.env